@import url(Little-Malio-8-Bit-For-Dafont.ttf);
body {
  background: #FFE6E6;
}

@font-face {
font-family: 'Malio';
src:
     url('Little-Malio-8-Bit-For-Dafont.woff') format('woff'), /* Modern Browsers */
     url('Little-Malio-8-Bit-For-Dafont.ttf')  format('truetype'), /* Safari, Android, iOS */
}
.hidden {
  opacity:0;
}
h1 {
  font-family: 'Malio';
  font-size:5em;
  text-align:center;
  height:200px;
  width:800px;
  display:block;
  position:absolute;
  color: #7469B6;
  top:300px;
  left:0;
  right:0;
  margin:auto;
  line-height: 80px;
}

button {
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:50px;
  width:150px;
  color: #f2a480;
  position: fixed;
  top: 450px;
  left:0;
  right:0;
  margin:auto;
  background-color: transparent;
  border-style:hidden;
}
video {
    top: 520px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
 position: fixed;
}
button:hover {
  color: #ffc4a8;
}

#videoContainer {
    position: relative;
    display: inline-block;
}
